In [1]:
#ABRIR ARQUIVO XLSX


import pandas as pd
from ast import literal_eval

#DATAFRAME ORDERS
df_Orders = pd.read_excel(r'Orders.xlsx', engine = 'openpyxl')
df_Orders = df_Orders.replace('\n',' ', regex=True)

In [2]:
#DATAFRAME PRODUCTS
df_Products = pd.read_excel(r'Products.xlsx', engine = 'openpyxl')

In [3]:
#DATAFRAME PRODUCT QUANTITIES
df_product_quanties = pd.DataFrame()
df_product_quanties['A'] = df_Orders['order_id']
df_product_quanties['B'] = df_Orders['product_quantities']

In [4]:
#SEPARAR POR DELIMITADOR
df_temp = df_product_quanties['B'].str.split(',', expand=True)
df_temp = df_temp.replace('"','', regex=True)
df_temp = df_temp.replace('{','', regex=True)
df_temp = df_temp.replace('}','', regex=True)

# INSERIR NOVA COLUNA
df_temp['A'] = df_product_quanties['A']

#ALTERAR POSIÇÃO DA COLUNA
fc = df_temp.pop('A')

df_temp.insert(0, 'A', fc)

In [5]:
# DANDO O MELT
df_teste = df_temp.melt(id_vars = 'A')

In [6]:
# EXCLUINDO COLUNA
df_teste = df_teste.drop(columns=['variable'])

In [7]:
# CONCATENAR COLUNAS
df_novo = df_teste['A'].str.cat(df_teste[['value']], sep = ':')
df_novo = pd.DataFrame(df_novo)

In [8]:
# SEPARAR COLUNA POR DELIMITADOR
df_novo = df_novo['A'].str.split(':', expand = True)

In [9]:
# EXCLUINDO COLUNA DO DF PEDIDOS
df_Orders_n = df_Orders.drop(columns=['product_quantities'])

In [ ]:
#DATA FRAMES

#DATA FRAME PEDIDOS
df_Orders_n

#DATA FRAME PRODUTOS
df_Products

#DATA FRAME PRODUTO QUANTIDADE
df_qntd

# MERGE PRODUTOS COM PEDIDOS
jun1

# MERGE PRODUTOS E PEDIDOS COM QNTD E PRODUTOS
jun2

In [10]:
#DATA FRAME PEDIDOS
df_Orders_n

     order_id order_date order_status delivery_date seller_id buyer_id
0      O00001 2020-12-08           OK    2020-12-20    U00614   U00450
1      O00002 2020-11-01           OK    2020-11-06    U00626   U00595
2      O00003 2020-11-28     CANCELED           NaT    U00624   U00146
3      O00004 2020-11-12           OK    2020-11-18    U00505   U00578
4      O00005 2020-12-07           OK    2020-12-18    U00536   U00164
...       ...        ...          ...           ...       ...      ...
8729   O08730 2020-12-04           OK    2020-12-18    U00589   U00117
8730   O08731 2020-11-20     CANCELED           NaT    U00401   U00063
8731   O08732 2020-11-11           OK    2020-11-17    U00589   U00155
8732   O08733 2020-12-21           OK    2020-12-25    U00551   U00480
8733   O08734 2020-12-18           OK    2021-01-02    U00579   U00207

[8734 rows x 6 columns]

In [11]:
#DATA FRAME PRODUTOS
df_Products

     seller_id  product_id  product_price
0       U00196  P00196_004           5.13
1       U00102  P00102_001          25.88
2       U00256  P00256_004          15.75
3       U00380  P00380_003          34.55
4       U00184  P00184_002          12.07
...        ...         ...            ...
1349    U00236  P00236_005          79.84
1350    U00268  P00268_013           5.33
1351    U00071  P00071_001          39.20
1352    U00599  P00599_021           5.06
1353    U00009  P00009_004          76.14

[1354 rows x 3 columns]

In [27]:
#DATA FRAME PRODUTO QUANTIDADE
df_novo

df_qntd = df_novo.rename(columns={0 : 'order_id', 1 : 'product_id', 2: 'quantities'})
df_qntd

      order_id   product_id quantities
0       O00001   P00614_011          3
1       O00002   P00505_002          4
2       O00003   P00624_001          2
3       O00004   P00626_001          4
4       O00005   P00536_003          2
...        ...          ...        ...
43665      NaN          NaN        NaN
43666      NaN          NaN        NaN
43667      NaN          NaN        NaN
43668   O08733   P00551_008          3
43669      NaN          NaN        NaN

[43670 rows x 3 columns]

In [13]:
# MERGE PRODUTOS COM PEDIDOS

jun1 = pd.merge(df_Orders_n, df_Products, on=['seller_id'], how='inner')
jun1

,order_id,order_date,order_status,delivery_date,seller_id,buyer_id,product_id,product_price
0,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_012,5.23
1,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_009,5.01
2,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_007,57.29
3,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_006,5.17
4,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_004,8.26
...,...,...,...,...,...,...,...,...
85866,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_003,5.06
85867,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_005,45.78
85868,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_004,49.99
85869,O08484,2020-11-22,OK,2020-11-25,U00213,U00396,P00213_002,48.32
85870,O08484,2020-11-22,OK,2020-11-25,U00213,U00396,P00213_001,57.29

In [28]:
# MERGE PRODUTOS E PEDIDOS COM QNTD E PRODUTOS
jun2 = pd.merge(jun1, df_qntd, on=['order_id'], how='inner')
jun2

,order_id,order_date,order_status,delivery_date,seller_id,buyer_id,product_id_x,product_price,product_id_y,quantities
0,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_012,5.23,P00614_011,3
1,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_009,5.01,P00614_011,3
2,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_007,57.29,P00614_011,3
3,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_006,5.17,P00614_011,3
4,O00001,2020-12-08,OK,2020-12-20,U00614,U00450,P00614_004,8.26,P00614_011,3
...,...,...,...,...,...,...,...,...,...,...
241103,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_005,45.78,P00161_004,3
241104,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_004,49.99,P00161_001,5
241105,O07790,2020-12-09,CANCELED,NaT,U00161,U00597,P00161_004,49.99,P00161_004,3
241106,O08484,2020-11-22,OK,2020-11-25,U00213,U00396,P00213_002,48.32,P00213_001,3
241107,O08484,2020-11-22,OK,2020-11-25,U00213,U00396,P00213_001,57.29,P00213_001,3

In [ ]:
# df_trata['A'] = df_temp['A']
# fc = df_trata.pop('A')

# df_trata.insert(0, 'A', fc)
# df_trata

In [ ]:
# df_teste = pd.DataFrame(columns = ['order_id', 'product', 'quantities'])

# for i in df_product_quanties.index:
#     for k, v in literal_eval(df_product_quanties['B'][i]).items():
#         lista=[]
#         lista.append(df_product_quanties['A'][i])
#         lista.append(k)
#         lista.append(v)
# #         df_teste.loc[len(df_teste)] = lista
#         print(k)
#         print(lista)
#     if df_product_quanties['A'][i] == 'O00005':
#         break
    
# df_teste

In [ ]:
# df_teste[df_teste['order_id'] == "O00016" ]

In [ ]:
# from collections import defaultdict

# results={}

# print(df_product_quanties['B'][1])

# for k,v in literal_eval(df_product_quanties['B'][1]).items():
#     results.setdefault(k, []).append(v)

# print(results)